body {
  background-color: #f5f5f5e8;
}

main {
  font-family: Montserrat;
  max-width: 90vh;
  margin: auto;
  margin-top: 10vh;
}

.artcovers {
  height: 80vh;
  width: 70%;
  display: flex;
  margin: auto;
  position: relative;
  left: -13%;
}

.left {
  display: block;
  margin: auto;
  position: relative;
}

.right {
  display: block;
  margin: auto;
  position: relative;
}

.images__small {
  display: block;
  margin: auto;
}

.joynerlucas {
  transition: 0.5s;
}

.joynerlucas:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.biggie {
  filter: grayscale(90%);
  max-width: 200px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-20deg);
  z-index: 10;
  opacity: 0.8;
  display: inline-block;
  margin-bottom: 20px;
}

.biggie:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-5deg);
  filter: grayscale(0%);
  z-index: 99;
  opacity: 1;
}

.hopsin {
  filter: grayscale(90%);
  max-width: 200px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-20deg);
  z-index: 10;
  opacity: 0.8;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.hopsin:hover {
  filter: grayscale(0%);
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-5deg);
  z-index: 99;
  opacity: 1;
}

.nbayb {
  filter: grayscale(90%);
  max-width: 200px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-20deg);
  z-index: 10;
  opacity: 0.8;
  display: inline-block;
  position: relative;
}

.nbayb:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px gray;
  transform: rotate(-5deg);
  filter: grayscale(0%);
  z-index: 99;
  opacity: 1;
}
